

<template class="contentCard-template">
    <section class="contentCard">
        <img src="" alt="" srcset="">
        <div class="contentCard-textarea">
            <p class="contentCard-text"><span class="contentCard-description"></span></p>
            <p class="contentCard-text"><span class="contentCard-description"></span></p>
            <p class="contentCard-text"><span class="contentCard-description"></span></p>
            <p class="contentCard-text"><span class="contentCard-description"></span></p>
            <p class="contentCard-text"><span class="contentCard-description"></span></p>
            <p class="contentCard-text"><span class="contentCard-description"></span></p>
        </div>
    </section>
</template>