
<nav class="nav">
    <a href="/" target="blank" class="nav__logo"><img src="/assets/images/logo_index.gif" alt="" srcset=""></a>
    <ul>
        <li class="nav__item"><a href="/" class="nav__link">Forside</a></li>
        <li class="nav__item"><a href="/?site=historie" class="nav__link">Historie</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Profil</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Referencer</a></li>
        <li class="nav__item"><a href="" class="nav__link">Nyheder</a></li>
        <li class="nav__item"><a href="" class="nav__link">Kontakt</a></li>
    </ul>
</nav>
<div class="curtain">
    <p class="nav__text">Hos os er Håndværk og kvalitet en hobby. Så du er altid i trygge hænder, når vi tager dig fra tanke til handling</p>
</div>