
<footer class="footer">
    <div class="footer__topline"></div>
    <div class="footer__content">    
        <div class="footer__adressewrapper">
            <div role="logo"><img class="footer__image" src="/assets/images/TODO_logo_footer.png" alt="" srcset=""></div>
            <address class="footer__adresse">
                <p class="footer__navn"></p>
                <p class="footer__addres"></p>
                <p class="footer__post-by"><span class="footer__zip"></span><span class="footer__city"></span></p>
                <p class="footer__tel"></p>
                <p class="footer__web"><span class="footer__web-one"></span>|<span class="footer__web-two"></span></p>
            </address>
        </div>
        <div role="SoMe" class="footer__middlebox">
            <a class="footer__link" href="http://">
                <p class="footer__linktext">følg os</p>
                <img class="footer__facebook" src="/assets/images/TODO_facebook-icon_white.png" alt="" srcset="">
            </a>
        </div>
        <div role="newsletter" class="footer__nyhedsbrev">
            <div class="footer__nyhedsbrev-wrapper">
                <h2 class="footer__heading">NYHEDSBREV</h2>
                <p class="footer__text">
                    Tast din e-mail adresse og tilmeld dig
                    vores nyhedsbrev - husk at godkende
                    tilmeldingen i din mail-boks!
                </p>
                <form class="footer__form" action="" method="post">
                    <input class="footer__inputfelt" type="text" placeholder="Email" name="mail" required>
                    <button class="footer__submit">>>></button>
                </form>
            </div>    
        </div>
    </div>
    <div class="footer__bottum">
        <div class="footer__bottum-wrapper">
            <div class="footer__design"><a class="footer__endlink" href="http://klanogco.dk">Design: Klan & Company</a></div>
            <div class="footer__copy">copyright &copy; 2020</div>
            <div class="footer__coding"><a class="footer__endlink" href="http://arvi.dk">Kode: Arvi.dk</a></div>
        </div>
    </div>
</footer>