">
                <li class="header__li"><a href="/" class="header__link">Hjem</a></li>
                <li class="header__li"><a href="/erhverv" class="header__link">Erhverv</a></li>
                <li class="header__li"><a href="/privat" class="header__link">Privat</a></li>
                <li class="header__li"><a href="/referencer" class="header__link">Referencer</a></li>
                <li class="header__li"><a href="/certifikater" class="header__link">Certifikater</a></li>
                <li class="header__li"><a href="/job" class="header__link">Job</a></li>
                <li class="header__li"><a href="/kontakt" class="header__link">Kontakt</a></li>
            </ul>
        </nav>
        <div class="header__language"></div>
    </div>
    <script src="/assets/javascript/header.js"></script>
</header>