<div id="slider">
    <input type="radio" id="button-1" name="controls" />
    <input type="radio" id="button-2" name="controls" checked />
    <input type="radio" id="button-3" name="controls" />
    <input type="radio" id="button-4" name="controls" />
    <input type="radio" id="button-5" name="controls" />
    <label for="button-1" class="arrows" id="arrow-1">-</label>
    <label for="button-2" class="arrows" id="arrow-2">-</label>
    <label for="button-3" class="arrows" id="arrow-3">-</label>
    <label for="button-4" class="arrows" id="arrow-4">-</label>
    <label for="button-5" class="arrows" id="arrow-5">-</label>
    <div id="slides">
        <div>
            <span id="image-1"> 
                <span class="info">
                    <strong id="imgOne">Her kommer teksten til billedet</strong>
                </span>
            </span>
            <span id="image-2"> 
                <span class="info">
                    <strong id="imgTwo">Her kommer teksten til billedet</strong>
                </span>
            </span>
            <span id="image-3">
                <span class="info">Her kommer teksten til billedet</strong>
                </span>
            </span>
            <span id="image-4"> 
                <span class="info">
                    <strong>Her kommer teksten til billedet</strong>
                </span>
            </span>
            <span id="image-5"> 
                <span class="info">
                    <strong>Her kommer teksten til billedet</strong>
                </span>
            </span>
        </div>
    </div>
</div>